@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.6);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .scroll {
    @apply:: -webkit-scrollbar: : -webkit-scrollbar-track: : -webkit-scrollbar-thumb:
      : -webkit-scrollbar-thumb: window-inactive;
  }

  .sectionHeading {
    @apply text-2xl sm:text-6xl font-semibold break-words capitalize;
  }

  .clipScreen-lg {
    clip-path: polygon(68% 0, 100% 0%, 100% 100%, 55% 100%);
  }
  .clipScreen-sm {
    clip-path: circle(60% at 50% 0%);
  }
  .clipProject-lg {
    /* clip-path: polygon(55% 0, 100% 0%, 100% 100%, 55% 50%); */
    clip-path: ellipse(45% 100% at 100% 0%);
  }
  .clipProject {
    /* clip-path: polygon(55% 0, 100% 0%, 100% 100%, 55% 50%); */
    clip-path: ellipse(80% 80% at 0% 100%);
  }
  .clipProject-sm {
    /* clip-path: polygon(55% 0, 100% 0%, 100% 100%, 55% 50%); */
    clip-path: circle(100% at 50% 0%);
  }

  .clipScreenTW {
    @apply absolute inset-0 bg-rose-600 clipScreen-sm lg:clipScreen-lg;
  }

  .clipScreenImage {
    @apply absolute inset-0 bg-right bg-no-repeat bg-contain clipProject-sm lg:clipProject-lg;
  }
  .clipScreenImageGradient {
    @apply absolute inset-0 bg-gradient-to-tr from-slate-900 to-slate-900/10 clipProject-sm lg:clipProject-lg z-40;
  }

  .headerImage {
    @apply w-6 bg-white/80 object-contain rounded-full ring-2 ring-white/80 hover:bg-cyan-500;
  }

  .headerItem {
    @apply text-sm font-semibold capitalize tracking-widest cursor-pointer transition-all hover:text-cyan-500;
  }

  .sectionSize {
    @apply 3xl:max-w-screen-2xl max-w-screen-xl mx-auto;
  }

  .blueButton {
    @apply relative flex space-x-1 items-center w-max bg-blue-600 text-white px-6 py-3 rounded-md transition-all focus:outline-none focus:ring focus:ring-cyan-500 active:ring-4 active:ring-cyan-500 active:ring-offset-2 active:ring-offset-indigo-700 hover:ring-2 hover:bg-blue-500 cursor-pointer;
  }
}
